{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "root": ".",
          "src": "./src",
          "components": "./src/components",
          "layouts": "./src/layouts",
          "pieces": "./src/pieces",
          "utilities": "./src/utilities",
          "shared": "./src/shared"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
