{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "kits": "./src/kits",
          "layouts": "./src/layouts",
          "utilities": "./src/utilities",
          "shared": "./src/shared",

          "components": "./src/qipao/components",
          "pieces": "./src/qipao/pieces"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
